:root {
    --daybreak-blue---blue-6: #1890ff;
    --gray---gray-1: #fff;
    --gray---gray-5: #d9d9d9;
    --gray---gray-6: #bfbfbf;
    --gray---gray-8: #595959;
    --gray---gray-10: #000;

    --font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-style: normal;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1230px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

main {
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 4px;
    outline: none;
}

.btn-primary {
    border: 1px solid var(--daybreak-blue---blue-6);
    border-radius: 2px;
    background: var(--daybreak-blue---blue-6);
    color: var(--gray---gray-1);
}

.btn-outline {
    border: 1px solid var(--gray---gray-5);
    border-radius: 2px;
    padding: 8px 16px;
    background: var(--gray---gray-1);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0);
    color: var(--gray---gray-8);
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    min-height: 124px;
}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.footer {
    display: flex;
    align-items: center;
    min-height: 156px;
    padding: 60px 0;
}

.footer-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    flex-wrap: wrap;
}

.footer-nav {
    flex-grow: 1;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav ul li {
    font-weight: 400;
    font-size: 18px;
    color: var(--gray---gray-8);
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.banner {
    margin-bottom: 56px;
}

.banner-item {
    background-image: url(./images/banners/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    padding: 68px;
    border-radius: 10px;
}

.banner-item--title {
    font-weight: 700;
    font-size: 39px;
    color: #302c34;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}

.banner-item--subtitle {
    font-size: 24px;
    color: #302c34;
    max-width: 50%;
    margin: 0;
}

.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.products-header--title {
    font-weight: 700;
    font-size: 36px;
    color: var(--gray---gray-10);
}

.products-header--search {
    background: var(--gray---gray-1);
    border: 1px solid var(--gray---gray-5);
    border-radius: 2px;
    min-width: 306px;
    height: 34px;
    padding: 5px 12px;
}

.products-header--search:focus {
    outline: none;
    border: 1px solid var(--gray---gray-5);
}

.products-header--search::placeholder {
    font-size: 16px;
    line-height: 150%;
    color: var(--gray---gray-6);
}

@media (max-width: 991px) {
    .banner-item--title,
    .banner-item--subtitle {
        max-width: 100%;
    }
}
